@import "tailwindcss";

@theme {
  --color-brand: #9b3553;
  --color-brand-dark: #792740;
  --color-background: #fffaf7;
  --color-foreground: #302624;
  --color-muted: #71635e;
  --color-border: #eaded8;
}